footer {
  top: 0%;
  height: 30rem;

  .contenedorFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .img-redes {
      width: 5rem;
      margin: 10rem;
    }
  }
}

.copyright {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
