@import "reseteocss";
@import "header";
@import "body";
@import "footerindex";

/* ANIMACION DEL LOGO */

@keyframes efecto_logo {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

ul li {
  color: darkgreen;
  display: inline-block;
  list-style: none;
}

ul li a {
  color: black;
  text-decoration: none;
  padding: 15px;
}

ul li a:hover {
  color: white;
}

/* Aca empieza el BODY PAGINA INICIAL */

/* ANIMACION TITULO */

@keyframes efecto_titulo {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* realizacion del FOOTER PAGINA INICIAL */

/* pagina PRODUCTOS */

.nombrePagina {
  text-align: center;
  font-family: montserrat, sans-serif;
}

.ropaAdidas {
  padding-bottom: 3rem;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3);
  grid-auto-rows: 355px;
  grid-template-areas:
    "img2   img3  img4 img5"
    "img6   img7  img8 img9"
    "img10  img11 img12 img13"
    "img14  img15 img16 img17";

  gap: 10px;
  position: relative;
}

.remeraAdidas {
  width: 300px;
  height: 300px;
}

.buzoAdidas {
  width: 300px;
  height: 300px;
}

.camperaAdidas {
  width: 300px;
  height: 300px;
}

.zapatillaAdidas {
  width: 300px;
  height: 300px;
}

.remeraNike {
  width: 300px;
  height: 300px;
}

.buzoNike {
  width: 300px;
  height: 300px;
}

.mediasNike {
  width: 300px;
  height: 300px;
}

.zapatillaNike {
  width: 300px;
  height: 300px;
}

.remeraPuma {
  width: 300px;
  height: 300px;
  grid-area: img10;
}

.camperaPuma {
  width: 300px;
  height: 300px;
}

.pantalonPuma {
  width: 300px;
  height: 300px;
}

.zapatillaPuma {
  width: 300px;
  height: 300px;
}

.remeraReebok {
  width: 300px;
  height: 300px;
}

.camperaReebok {
  width: 300px;
  height: 300px;
}

.pantalonReebok {
  width: 300px;
  height: 300px;
}

.zapatillaReebok {
  width: 300px;
  height: 300px;
}

.botonComprar {
  position: absolute;
  width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  background-image: linear-gradient(to top, rgb(148, 143, 143), rgb(8, 8, 165));
  transition: heigth 2s, width 1s;
  opacity: 0;
  transform: skewy(20deg);
}

.botonComprar:hover {
  opacity: 1;
  height: 50px;
  width: 300px;
  padding: 20;
}

/* realizacion del footer PAGINA PRODUCTOS */

.contenedorFooter2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.img-redes {
  width: 5rem;
  margin: 10rem;
}

.copyright2 {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

/* CSS DE PAGINA OFERTAS*/

body {
  background: #dfe2df;
  font-family: "open sans";
}

.contenedorOfertas {
  width: 90%;
  max-width: 900px;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tabla {
  width: 33%;
  height: 550px;
  margin: auto;
  border: 1px solid #343759;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px #343759;
  padding: 60px;
  text-align: center;
  flex-grow: 1;
  color: #343759;
}

.tabla > h2 {
  font-size: 30px;
  margin-bottom: 35px;
}

.tabla img {
  width: 64px;
  margin-bottom: 35px;
}

.tabla > h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

.tabla > p {
  display: block;
  margin-bottom: 20px;
}

.boton {
  display: inline-block;
  width: 150px;
  padding: 12px;
  background: #a5f059;
  text-decoration: none;
  color: #343759;
  border-radius: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin: auto;
}

.tabla:hover {
  background: #414bd1;
  color: #f1f1f2;
  transition: 0.5s all;
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .tabla {
    width: 45%;
    max-width: none;
    margin-bottom: 40px;
    flex-grow: initial;
  }
}

@media screen and (max-width: 700px) {
  .tabla {
    width: 45%;
    padding: 30px;
  }
  .tabla > h2 {
    margin-top: 40px;
  }
}

@media screen and (max-width: 550px) {
  .tabla {
    width: 85%;
    padding: 20px;
  }
}

/* OPERACIONES EN LA PAGINA OFERTAS*/
/* CONDICIONALES */

$mostrar: true;
.tabla {
  @if $mostrar {
    border: 5px solid #343759;
  }
}

$colorBoton: redondo;
$mostrar: true;

.boton {
  @if $colorBoton == cuadrado {
    background: #a5f059;
  }
  @if $colorBoton == redondo {
    background: #59cf2b;
  }
  @if $colorBoton == triangulo {
    background: #151b18;
  }
}

/* Extend */
.tabla--borde {
  @extend .tabla;
  border: 10px double #343759;
}

.tabla--borde2 {
  @extend .tabla;
  border: 10px inset #343759;
}

/* MIXINS */
@mixin sizes($font-size, $font-weight) {
  font-weight: $font-weight;
  font-size: $font-size;
}

.boton {
  @include sizes(16px, 600);
}
